<h1>Sobre</h1>
<div>
    <p>
        Meu nome é Italo Menezes. Sou nascido de Recife/PE, atualmente morando em Campina Grande/PB. 
        Estou cursando Ciência da Computação na Universidade Federal de Campina Grande. Já exerço meu 
        aprendizado através de projetos institucionais, comerciais e pessoais. Sou desenvolvedor web, 
        full stack, usando principalmente Javascript, através dos frameworks NodeJS, ExpressJS, AngularJS, 
        e usando MongoDB. Também tenho conhecimentos em Java e Python. No momento, estou trabalhando em 
        projetos pessoais, incluindo o estudo de outros frameworks, como ReactJS e React Native, e também 
        GraphQL.
    </p>
    <p>
        Faço home-office, e estou disponível para novas experiências, com frameworks e linguagens diferentes.
    </p>
</div>
