<h1>Contato</h1>
<div class="contact-links">
    <a href="https://www.facebook.com/italomlp" target="_blank"><span class="fa fa-5x fa-facebook"></span></a>
    <a href="https://www.twitter.com/italomlp" target="_blank"><span class="fa fa-5x fa-twitter"></span></a>
    <a href="https://www.linkedin.com/in/italomlp" target="_blank"><span class="fa fa-5x fa-linkedin"></span></a>
    <a href="https://www.github.com/italomlp" target="_blank"><span class="fa fa-5x fa-github"></span></a>
</div>
<p class="text-muted"><a href="mailto:italomlporoca@hotmail.com">italomlporoca@hotmail.com</a></p>